<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cayin RU6</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="info">
        <h1>Обзор</h1>
        <img src="foto.jpg">
        <h2>Цап: <em>Cayin RU6</em></h2>
        <h2>Мобильный: <em>Да</em></h2>
    </div>
    <hr>
    <div class="description">
        <p>
            <del>Мультибитный</del> <strong>портативный</strong> цифро-аналоговый преобразователь на дискретных резистивных матрицах.<br>
        Для реализации поддержки 24 бит используется 48 резисторов на каждый канал.<mark>Хуй</mark>
        </p>
    </div>
</body>
</html>